$fullHeight: 100vh;
$headerHight: 110px;
$antdMenuSelectedColor: #0acbee;
$customizeBlack: #131c2e;
$customizeWhite: #fff;
// common style
.common-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.common-imgurl-1 {
  background: url(../assets/images/loginBg.png);
}

// layout
.layout {
  height: $fullHeight;
}

// login page style
.login-container {
  height: $fullHeight;
  @extend .common-imgurl-1;
  @extend .common-flex;
  .login-form {
    max-width: 300px;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
}

// service select page
.service-container {
  @extend .common-imgurl-1;
  height: $fullHeight;
  overflow: hidden;
  &-head {
    padding: 0;
    height: $headerHight;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    img {
      width: 11%;
      position: absolute;
      left: 40px;
      top: 50%;
      transform: translate(0, -50%);
    }
    .user-dropdown {
      @extend .user-dropdown;
      color: $customizeWhite;
      font-size: 12px;
    }
  }
  &-welcome {
    width: 265px;
    font-size: 24px;
    margin: 14vh auto 0;
    color: $customizeWhite;
  }
  &-menu {
    padding: 0;
    width: 58%;
    margin: 7.7vh auto 0;
    display: flex;
    flex-wrap: wrap;
    li {
      display: block;
      width: 15%;
      text-align: center;
      color: $customizeWhite;
      margin-bottom: 11vh;
      font-size:14px;
      &:not(:nth-child(5n+1)) {
        margin-left: 6.25%;
      }
      img {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}

// sider page style
.sider-container {
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
  &-logo {
    height: $headerHight;
    background: $customizeBlack;
    @extend .common-flex;
    img {
      height: 35px;
    }
  }
  .sider-menu {
    height: calc(100% - #{$headerHight});
    border-right: 0;
    background: $customizeBlack;
    padding-top: 40px;
    .ant-menu-sub,
    .ant-menu-submenu {
      color: #dedede;
    }
    .ant-menu-submenu-open {
      color: $antdMenuSelectedColor;
    }
    .ant-menu-submenu-arrow {
      display: none;
    }
    .ant-menu-item-selected {
      color: $antdMenuSelectedColor;
      background: #000c17 !important;
    }
  }
}

// head of layout page style
.header-container {
  background: $customizeWhite;
  padding: 0;
  height: $headerHight;
  position: relative;
  .user-dropdown {
    @extend .user-dropdown;
    font-size: 24px;
    color: rgba(72, 88, 119, 1);
  }
}

// main of layout component style
.main-container {
  padding: 40px;
  background: rgb(230, 231, 233);
}

// components style
.user-dropdown {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translate(0, -50%);
  font-family: ArialMT;
}
