@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  height: 100vh;
}

.login-container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.login-container .login-form {
  max-width: 300px;
}
.login-container .login-form-forgot {
  float: right;
}
.login-container .login-form-button {
  width: 100%;
}